---
layout: default
---

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p>Marc Ackermann</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><a href="https://www.marcackermann.nl/" class="w3-button w3-black">Weblog</a></p>
    <p><a href="https://www.marcackermann.nl/hoi-daar-ik-ben-marc" class="w3-button w3-black">About Me</a></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
    <p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </div>
</div>
